/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/*

     _/_/_/   _/_/_/    _/_/_/
    _/    _/ _/    _/  _/
   _/__/_/  _/__/_/     _/
  _/       _/            _/
 _/       _/        _/_/_/


Theme:		Pirateparty Switzerland
Updated:	10/7/09
Author:		corvus
Based on:	Modula Mojito, www.modula.fi
*/

body { font-size: 100%: }

body, #wrapper {
	background: #EEB50C url(../img/bgmid.jpg) repeat-x 50% 20px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	font-size: 12px;
}

a, a:link, a:visited { color: #A57F57; outline:none;}
a:hover { text-decoration: none; color: #F5AF77;}
#sidebar label, #sidebar a:link, #sidebar a:hover, #sidebar a:active, #sidebar a:visited { color: #A57F57; }

#header, #top-menu { margin: 0; }
#header { background: url(../img/logo.png) no-repeat 0px 0px; padding: 8px 0 0 0; height: 140px; position: relative;} /* Resize-Fix: relative */
#header h1 { margin-left: 370px; margin-top: 36px; overflow: hidden; white-space: nowrap; }
#header #quick-search { margin: 24px; padding-top: 25px; }
#header input, #header select { border: 1px solid #C9792A; color: #BE6813; background: url(../img/bgsuche.png) repeat;}
#header #quick-search * { color: #BE6813; }

#top-menu { background-color: #4C4642; font-size: .9em; position: relative; margin-left: -.3em; padding: 0; height: 21px }
#top-menu ul { padding: 0 21px; }
#top-menu li, #top-menu #loggedas { color: #ccc; line-height: 21px; margin-right: 0px;}
#top-menu a { color: #ccc; font-weight: normal; padding:4px 5px; }
#top-menu #loggedas a { font-weight: bold; }
#top-menu a:hover { text-decoration: none; color: #F5AF77;}

#main { background: transparent; /*margin: 0 24px 0px 24px;*/min-width:1024px;} /* Resize-Fix: min-width */

#content {
	font-size: 118%;
	line-height: 155%;
	background: #fff;
	/*width: 74.5%;*/ /* Resize-Fix */
	width: 71%; /* Resize-Fix */
	margin: 0 0 0 1%; /* Resize-Fix */
	min-width: 652px; /* Resize-Fix */
	border: 1px solid #C7640C;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

#sidebar {
	background: #fff;
	width: 22%; /* Resize-Fix */
	margin: 0 1% 0 0; /* Resize-Fix */
	border: 1px solid #C7640C;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
	padding: 0 1em 0.5em;
}

#footer {
	border: none;
	background: url(../img/bgfot.jpg) repeat-x 50% 0%;
	clear: left;
	color:#666666;
	font-size: 0.8em;
	padding-bottom:15px;
	text-align:left;
	margin: 8px 0 0;
	height: 104px;
	padding: 0.5em 24px;
	color: #984508;
}
#footer a:hover { background: transparent none repeat scroll 0 0; color: #984508; !important;}
#footer a:link, #footer a:visited { color: #984508; text-decoration: underline; }

p.subtitle {
	font-style:normal;
}

/* Headers */
h1, h2, h3, h4, h5, h6 { color: #000; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; }
.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6 { color: #000; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; }
h1 { color: #000; font-size: 24px; font-weight: normal; margin:0pt 0pt 0pt 0.25em; padding:0pt 0pt 10px; text-align:left; }
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px;}
.wiki h3 { font-size: 1.1em; }

h2, .wiki h1 {
	background-color: #FBF8F2;
	margin: 2px 0px 10px;
	padding: 10px .7em;
	font-size: 21px;
	font-weight: normal;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	color: #000;
	border: 1px #F3ECE3 solid;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}
.wiki h2 { background-color: #FBF8F2; font-size:1.1em; padding: 1px 5px; }
h2 img { vertical-align: middle !important; } /* Align the Username and the image - for example under /users/ID */
h3, h4 { font-weight: normal; color: #000;}

#sidebar h3 { color: #000; border-bottom:1px solid #989898; padding:6px 0; }

/* Links */
#sidebar a:hover { color: #F5AF77; text-decoration: none;}


/* Menu */
#main-menu { margin: 0 18.5px; margin-bottom: -1px; z-index:9999;} /* Resize-Fix: z-index */
#main-menu li a { font-weight: normal; padding:6px 8px 8px; }
#main-menu li a:hover {
	color: #000;
	background: transparent;
	text-decoration: none;
}
#main-menu li a.selected, #main-menu li a.selected:hover {
	background-color:#fff;
	color: #111;
	border: 1px solid #C7640C;
	-moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
	border-bottom: none;
}

/* LukyLuke: Different things added */
#history .journal { padding: 5px; margin: 0 0 10px; }
.reply h4, #history .journal h4 { margin:0; padding:0; font-weight: bold; border-bottom:1px solid #989898; }
#history .journal h4 { margin: 3px 1px 5px 0px; padding: 0 5px 5px; }
blockquote { background: #FFF7EA; padding: 5px; font-size: 0.95em; }
blockquote p { padding: 0; margin: 5px 0; }
div.issue { background: #FFF7EA; border-radius: 0.3em; }
tr.parent.open { font-weight: bold; background-color: inherited; } /* an invalid background-color should use the parent one */
tr.parent.open span.expander, tr.parent span.expander, tr span.expander { background-repeat: no-repeat; background-position: center center; }
table.list tbody tr:hover { background-color:#FBF8F2; }
td.checkbox { padding: 8px 0 0 0; vertical-align: top; }
table.list tbody tr.group td { border-bottom: 2px solid #999; padding: 1.3em 0 0 0.3em; }
.wiki a.tag_level5 { font-size: 1.1em; padding-right: 0.6em; }
div.wiki ul.toc {
	border: 1px solid #C9792A;
	background-color: #F5ECD6;
	border-radius: 5px;
	padding: 5px 15px 8px;
}
div.wiki ul.toc li { padding: 3px 0 0; }

/* Download Button */
#sidebar p a.download {
	background: #EEB50C url(../img/bgbutton.png) 50% 50% repeat-x;
	border: 1px solid #C9792A;
	border-radius: 5px;
	color: #000;
}
#sidebar p a.download span {
	color: #000;
}
#sidebar p a.download span.icon-download {
	background-image: url(../img/download.png);
}

/* Settings menu */
#content .tabs ul li a {
	font-weight: normal;
	font-size: .9em;
	border-top: 1px #fff solid;
	border-right: 1px #fff solid;
	border-left: 1px #fff solid;
	background: #fff;
	-moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}

#content .tabs ul li a:hover {
	background: #fff;
	color: #FFA500;
}

#content .tabs ul li a.selected {
	font-weight: normal;
	color:#455138;
	-moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}
.context-menu-selection, .context-menu-selection:hover { background-color: #F5ECD6 !important; }
.context-menu-selection, .context-menu-selection:hover, .context-menu-selection a, .context-menu-selection a:hover { color: #000 !important; }

/* Tables */
table.list { border: none; }
table.list th { background-color: #F5ECD6; }
table.list tbody td, table.list tbody tr td { border-bottom: solid 1px #ddd; padding:4px 10px 4px 3px; }
table.list thead th {
	border: none;
	border-bottom:1px solid #999999;
	font-size:9px;
	font-weight: bold;
	padding:3px;
	text-transform:uppercase;
}

table.list thead th a { color: #2e2e2e; }
table.list thead th a:hover { color: #2e2e2e; }
table.list tr.odd { background-color: transparent; }
table.list tr.even { background-color: #FFF7EA; }

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a { color: #3c3c3c; }

tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; font-weight: bold; }
tr.odd.priority-5 { background: #ffc4c4; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; font-weight: bold; }
tr.even.priority-5 { background: #ffd4d4; }
tr.priority-5 a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #900; }
tr.odd.priority-4 { background: #ffc4c4; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #900; }
tr.even.priority-4 { background: #ffd4d4; }
tr.priority-4 a { color: #900; }
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: #ffb4b4; }

tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #900; }
tr.odd.priority-3 { background: #fee; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; }
tr.even.priority-3 { background: #fff2f2; }
tr.priority-3 a { color: #900; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #fcc; }

tr.odd.priority-1, table.list tbody tr.odd.priority-1:hover { color: #559; }
tr.odd.priority-1 { background: #eaf7ff; }
tr.even.priority-1, table.list tbody tr.even.priority-1:hover { color: #559; }
tr.even.priority-1 { background: #f2faff; }
tr.priority-1 a { color: #559; }
tr.odd.priority-1 td, tr.even.priority-1 td { border-color: #add7f3; }

p.breadcrumb {
	background-color:#EEEEEE;
	border-bottom:1px solid white;
	font-size:0.9em;
	margin:-6px -10px 6px;
	padding:6px;
	text-indent:15px;
}

/* Fields */
input[type='text'], input[type='password'], input[type='file'], textarea { font-size: 13px; font-family: Andale Mono,Lucida Console,Monaco,fixed,monospace; }
input[type="text"], input[type='file'], input[type='password'], textarea, select { padding: 2px;  }
input[type="text"]:focus, , input[type='file']:focus, input[type='password']:focus, textarea:focus, select:focus {  }
option {  }
input#issue_subject { font-size: 1em; width: 90%; }
input#issue_subject, #project_description { width: 92.5%; }
textarea#issue_description { width: 93%;}

/* Misc */
input[type="text"], input[type="file"], input[type='password'], textarea, select {
	border: 1px #989898 solid;
	background-color: #FEFEFE;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

.nodata, #login-form table, .flash.notice {
	border-width: 1px;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

/* LukyLuke: added "#history .journal" and the two "#history .journal"-rules below */
/* LukyLuke: added "#content .attachments" */
/* LukyLuke: added ".controller-documents #content div.wiki" */
.box, .reply, #history .journal, #content .attachments, .controller-documents #content div.wiki {
	background-color: #fcfcfc;
	border-top: 1px #eee solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-left: 1px #eee solid;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

#history .journal:nth-child(even), #content .attachments {
	background-color: #FFF7EA;
}
#history .journal, #content .attachments, #content .message.reply {
	padding: 3px 8px;
	margin: 0 0 8px;
}
#content .message.reply h4 img { margin: -4px 0 -1px; } /* Ugly look'n'Feel in Forum-Replys */

#attachments_fields input[type="text"] {
	width: 39%;
}

.jstElements { margin-right: 3.5em;}
.tabular label { font-weight: normal;}

.contextual { margin-top: 1.4em; margin-right: 1em; font-size: 0.9em;}
.contextual a{ color:#455138;}


table.list thead th {
	font-size:.8em;
}

tr.message td.last_message {
	font-size:.9em;
}

div#activity dl, #search-results {
	margin-left:0em;
}
div#activity dd, #search-results dd {
	font-size:1em;
}

span.description { margin: .5em 0;}

hr { background:#eee none repeat scroll 0% 0%; }

/* LukyLuke: added all rules below for Documents-Look'n'Feel */
.controller-documents #content h4 {
	border: 1px solid #F3ECE3;
	border-width: 0 0 1px;
	font-weight: bold;
	margin: 5px 0;
}
.controller-documents #content p {
	font-size: 80%;
	margin: 0;
	padding: 0;
}
.controller-documents #content div.wiki,
.controller-documents #content div.attachments {
	font-size: 120%;
	padding: 0 5px;
}
.controller-documents #content div.wiki p {
	padding: 3px 8px;
}
.controller-documents #content h3 {
	margin: 1.2em 0 0 0;
}
.controller-documents.action-index #content h3 {
	padding: 3px 5px;
	background: #F5ECD6;
	border: 1px solid #999;
	border-width: 0 0 1px;
}
/* Does not what we want :( */
.controller-documents.action-show #content p em:first-line {
	font-weight: bold;
	font-style: normal;
	display: block;
	margin: 1em 0;
	padding: 3px 5px;
	background: #F5ECD6;
	color: #000;
	border: 1px solid #999;
	border-width: 0 0 1px;
}
